html {
  width:100%;
  height:100%;
}

#index-page {
    background-color:#06397a;
  overflow:hidden;
}

body {
  height:100%;
  width:100%;
}

.nav-item {
  margin-right:30px;
  margin-left:30px;
}

.navbar.navbar-light.navbar-expand-md {
  border-bottom:1px solid rgb(255,255,255);
  transition:all 0.25s ease;
}

@media (min-width: 300px) {
  #home-main {
    text-align:center;
    padding:40px;
    padding-top:55%;
    height:100%;
    width:100%;
  }
}

@media (min-width: 576px) {
  #home-main {
    text-align:center;
    padding:40px;
    padding-top:45%;
    height:100%;
    width:100%;
  }
}

@media (min-width: 768px) {
  #home-main {
    text-align:center;
    padding:40px;
    padding-top:35%;
    height:100%;
    width:100%;
  }
}

@media (min-width: 992px) {
  #home-main {
    text-align:center;
    padding:40px;
    padding-top:20%;
    height:100%;
    width:100%;
  }
}

#home-main .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.70);
}
#particles-js {
    width: 100%;
    height: 100%;
}
@media (min-width: 300px) {
    .index-jumbo {
        position: fixed;
        top:30%;
        left:50%;
        transform: translate(-50%);
        border-radius:20px;
        padding:40px;
        background-color:rgba(255,255,255,0.70);
        width:400px;
    }
}

@media (min-width: 576px) {
    .index-jumbo {
        position: fixed;
        top:30%;
        left:50%;
        transform: translate(-50%);
        border-radius:20px;
        padding:40px;
        background-color:rgba(255,255,255,0.70);
        width:400px;
    }
}

@media (min-width: 768px) {
    .index-jumbo {
        position: fixed;
        top:30%;
        left:50%;
        transform: translate(-50%);
        border-radius:20px;
        padding:40px;
        background-color:rgba(255,255,255,0.70);
        width:600px;
    }
}

@media (min-width: 992px) {
    .index-jumbo {
        position: fixed;
        top:30%;
        left:50%;
        transform: translate(-50%);
        border-radius:20px;
        padding:40px;
        background-color:rgba(255,255,255,0.70);
        width:900px;
    }
}


#landing-content {
  background-image:url(../../assets/img/background-picture2.jpeg);
  width:100%;
  padding-bottom:700px;
  background-position:center;
  background-size:120% 120%;
  background-repeat:no-repeat;
}

.navbar-light .navbar-brand {
  color:rgba(255,255,255,0.9);
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color:rgba(255,255,255,0.9);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:rgba(255,255,255,.9);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:rgba(255,255,255,.7);
}

.navbar-light .navbar-nav .nav-link {
  color:rgba(255,255,255,.5);
}

.sr-only {
  color:rgba(255,255,255,0.5);
}

.navbar-light .navbar-toggler-icon {
  color:rgba(255,255,255,0.5);
}

.top-text {
  text-align:center;
  padding:40px;
  padding-top:150px;
  background:url('../../assets/img/background-picture2.jpeg');
  background-size:cover;
  padding-bottom:150px;
  margin-bottom:100px;
  position:relative;
}

@media (min-width: 992px) {
  .top-text {
    padding-right:140px;
    padding-left:140px;
  }
}

@media (min-width: 1200px) {
  .top-text {
    padding-right:250px;
    padding-left:250px;
  }
}

.top-text .jumbotron {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.6);
  margin:0 auto;
}

.top-text-1 {
  text-align:center;
  /*padding:40px;*/
  /*padding-top:150px;*/
  background-color: #06397a;
  /*background:url('../../assets/img/background-picture2.jpeg');
  background-size:cover;*/
  /*padding-bottom:150px;*/
  margin-bottom:100px;
  max-height: 500px;
  position:relative;
}

@media (min-width: 992px) {
  .top-text-1 {
    /*padding-right:140px;
    padding-left:140px;*/
  }
}

@media (min-width: 1200px) {
  .top-text-1 {
    /*padding-right:250px;
    padding-left:250px;*/
  }
}

.top-text-1 .projet-jumbo {
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.6);
  margin:0 auto;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  min-width: 370px;
}

@media (max-width: 991px) {
  .top-text .jumbotron {
/*    padding:20px;*/
  }
}

.navbar.navbar-light.navbar-expand-md.fixed-top.navbar-dark.past-header {
  background-color:#06397a;
}

#past-header {
  position:absolute;
  padding:30px;
  bottom:0px;
}

.text-col {
  padding:15px 15px 15px 15px;
  position:relative;
}

.projet-title {
  padding-bottom:5px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  display:inline;
}

.underline-title {
  width:50%;
  text-align:left;
}

.picture-col {
  position:relative;
  width:100%;
  padding:0px;
}

.image {
  opacity:1;
  display:block;
  width:100%;
  height:auto;
  transition:.5s ease;
  backface-visibility:hidden;
}

.over-picture {
  transition:.5s ease;
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  text-align:center;
}

.picture-col:hover .image {
  opacity:0.3;
}

.picture-col:hover .over-picture {
  opacity:1;
}

.text-over-picture {
  color:black;
}

hr {
  margin-top:30px;
  margin-bottom:30px;
}

.text-link {
  position:absolute;
  bottom:30px;
  right:15px;
}

.projet-text {
  padding-bottom:40px;
}

.list-unstyled.header-list {
  font-weight:bold;
  margin-left:35px;
}

.list-unstyled.item-list {
  font-weight:normal;
  margin:0;
  margin-left:15px;
}

.header-list > li {
  margin-bottom:10px;
  margin-top:10px;
}

.row.projet-information {
  padding-bottom:50px;
}

.container.projet-x {
  /*border:1px solid rgba(153, 153, 153, 0.2);*/
}

.col.projet-description {
  border-right:1px solid rgba(153, 153, 153, 0.2);
}

.projet-description p {
  color:#878787;
}

.projet-description a {
  color:white;
  background:#06397a;
  padding:12px;
  border-radius:50px;
  text-decoration:initial;
  padding-right:30px;
  padding-left:30px;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fas.fa-link {
  margin-left:15px;
}

